<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>

    <h1> Shoping cart (1 item): </h1>

    <h2> Argentina shirt from world cup 2022 </h2>
    <h3> <a href = "{{url_for('home_page')}}"> Back to home </a> </h3>

</head>
<body>
    <img src="https://m.media-amazon.com/images/I/51WF0G6xTML._AC_SX385._SX._UX._SY._UY_.jpg">







<style type="text/css">
    h1 {text-indent: 200px; color: blue;}
    h2 {text-indent: 200px; color: green;}
    h3 {text-indent: 200px; color: red;}
    a {color: red;}



</style>

</body>
</html>