<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Apple Iphone 13</title>

</head>
<body>

<h1> Iphone 13 Pro Max 128 gb </h1>
<h2> The newest and strongest iphone in the market included with 128gb of space so you can save all your pictures and download all the games you want, apart from having all the pro max advantajes </h2>
<h3> Price: 900$ </h3>
<h4> <a href = "{{url_for('home_page')}}"> Back to home page </a> </h4>



<img src="https://store.storeimages.cdn-apple.com/8756/as-images.apple.com/is/iphone-13-pro-max-blue-select?wid=940&hei=1112&fmt=png-alpha&.v=1645552346295" id = "iphone">












<style type="text/css">  

#iphhone {width: 500px;}
h1 {text-indent: 200px; color: blue;}
h2 {text-indent: 200px; color: green;}
h3 {text-indent: 200px; color: blue;}
h4 {text-indent: 200px; color: green;}
a {color: green;}

</style>

</body>
</html>


